@model Embryo.Web.Models.Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-12">

        <h2>@Model.Title</h2>

        @if (Model.IsPublished)
        {
            <h5>@Model.PublishedDate</h5>
        }
        else
        {
            <h5>@Model.LastUpdated</h5>
        }

        <hr />

        <div>@Model.Content</div>

        <div>
            <a asp-action="edit" asp-route-id="@Model.Id">Edit</a>
        </div>

    </div>
</div>
